body{
   margin: 0%;
   background-image: linear-gradient(to bottom right,#6BA4BA, #5BAB93	);
}

nav li{
    display:inline-block;
    padding-left: 20px;
    font-size: 18px;
    
 }
 
 nav a:hover{
     color: #5BAB93;
 }

 nav a:active{
    color: #6BA4BA;
}

nav a:visited{
    color: white;
}


img[alt="img-principal"]{
    width: 100%;
}